# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
visuals

*.psd
*.swp
*.pyc
*.xml
*.iml
# C extensions
*.so
.idea/
models/
models_backup/
models_meta/
models_no_meta/
models_no_meta_2_fruits/
summaries/
summaries_meta/
summaries_no_meta/
summaries_no_meta_2_fruits/
test_experiments/
=======

# C extensions
*.so

.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py


